
body, html {
    padding-top: 54px;
    height: 100%;
    font-family: "Georgia", sans-serif;
    font-weight: 700;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}

form {
	width: 860px;
	margin: 0 auto;
	margin-top: 50px;
  margin-bottom: 200px;

	
}

footer {

  position: relative;
  width: 100%;
  bottom: 0;


}

#quote {
  position: relative;
  width: 900px;
  margin: 0 auto;
  float: center;
  font-family: "Georgia";
  font-size: 25px;
  text-align: center;
}

